html
    head
        title Auth prvi projekt
    body
        p Broj do sad generiranih ulaznica: #{numOfTickets}
        a(href='/', title='Home') Home
        h1 User Registration Form
            form(action="/getTicket" method="POST" enctype="application/json")
                div
                    label(for="name") Name:
                    input(type="text" name="firstName" id="name")
                div
                    label(for="lastName") Last Name:
                    input(type="text" name="lastName" id="lastName" )
                div
                    label(for="vatin") Vatin:
                    input(type="text" name="vatin" id="vatin" )
                div
                    button(type="submit") Submit
