html
    head
        title QR Code of Your Ticket
    body
        h1 QR code of your ticket
        img(src=qrCodeImageUrl alt="QR Code")
        p Scan the QR code to access your ticket information.
        a(href="/") Home
